.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
  transition: background-color 1.5s ease-out;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
.hero-wrapper{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('assets/header/Stars&line.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:'cover' !important;
}

.ImageMapper {
  width: 100%;
  height: 100%;
}

/* ########################### FONTS ################################# */
@font-face {
  font-family: 'Dahlia';
  src: local("Dahlia-Regular"),url("./fonts/Dahlia-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Tan';
  src: local("TAN-WAVERLY"),url("./fonts/TAN-WAVERLY.woff") format("woff");
}



/* ########################### PORTALS ################################# */
.modal-wrapper {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}




@media screen and (max-width: 600px) {
  .modal-content {
    margin: 40% auto !important;
  }
  .closeButton{

    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

  }
  .instructionItem{
    padding: 0 2rem !important;
    padding-left: 4rem !important;
  }
  .instructionButton{
    margin: 20px !important;
    display: flex important;
    justify-content: center !important;
  }
}

.navOverlay {
  position: fixed;
  background: #f5f5f5;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition-delay: 0s;
  transition: all 2s cubic-bezier(0.16,1,0.3,1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkContainer {
  position: relative;
  right: 0;
}

.navLink {
  font-family: Dahlia, Medium;
  font-size: 60px;
  color: #212121;
  text-decoration: none;
  margin-top: 2rem;
  position: relative;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
}

.navLink.active {
  background: linear-gradient(to right, #FD5D93, #FFC371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.navLink:hover {
  font-weight: 800;
  letter-spacing: 5px;
  transition: all .5s;
}

.menuToggle {
  cursor: pointer;
}
.menuToggle {
  cursor: pointer;
}

.hamBox {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  padding: 2.4em;
  right: -20px;
}

.hamBox:hover {}

.lineTop {
  top: 2.2em;
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 10px;
  background: grey;
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.lineTopSpin {
  top: 2.35em;
  transform: rotate(135deg);
}

.lineBottom {
  bottom: 2.2em;
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 10px;
  background: grey;
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.lineBottomSpin {
  top: 2.35em;
  transform: rotate(225deg);
}

.burger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.burger span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  transition: transform 0.5s ease-in-out;
  background-color: #fff;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}
